@model RingoMediaTask.Models.ViewModels.DepartmentHierarchyViewModel

@{
    ViewData["Title"] = "Department Hierarchy";
}

<h1>Department Hierarchy</h1>

<div>
    <h2>Selected Department: @Model.Department.DepartmentName</h2>
    <p>Logo: @Model.Department.DepartmentLogo</p>
</div>

<div>
    <h3>Parent Departments:</h3>
    <ul>
        @foreach (var parent in Model.ParentDepartments)
        {
            <li>@parent.DepartmentName</li>
        }
    </ul>
</div>

<div>
    <h3>Sub-Departments:</h3>
    <ul>
        @foreach (var sub in Model.Department.SubDepartments)
        {
            <li>@sub.DepartmentName</li>
        }
    </ul>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
